<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../../components/btn.css" />
    <link rel="stylesheet" href="../../../components/card.css" />
    <link rel="stylesheet" href="../../../general.css" />
    <link rel="stylesheet" href="./style.css" />
    <title>CART COMPONENT</title>
  </head>
  <body>
    <div class="cart-total">
      <h4>CART TOTAL</h4>
      <ul>
        <li class="list"><span>Subtotal</span><span>$ 169.50</span></li>
        <li class="list"><span>Total</span><span>$ 169.50</span></li>
      </ul>
      <button class="btn btn-primary btn-black">PROCEED TO CHECKOUT</button>
    </div>
  </body>
</html>
