label{
    font-size: 1.2rem;
    font-weight:400;
}
.btn-primary{
    background-color: black;
    border:none;
}
.btn-primary:hover{
    background-color: black;
    border: none;
}
.auth-main{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(500px,1fr));
    padding-left: 100px;
    padding-right: 100px;
    gap:10px;
    margin-top: 5rem;
    margin-bottom: 10rem;
    justify-items: start;
}
.form-signup{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}
.sign-up{
    width:70%;
}
.form-signin{
    display: flex;
    flex-direction: column;
}
.sign-in{
    width:70%;
}
